<html>
<head>
  <title>Our Suggestions</title>
</head>
<body>
  <h1>TOPS</h1>
  {% for top in topWardrobe%}
    <img class="img" src= "{{top.url}}" />
  {% endfor %}
  <h1>BOTTOMS</h1>
  {% for pant in bottomWardrobe%}
    <img class="img" src= "{{pant.url}}" />
  {% endfor %}
  <h1>SKIRT</h1>
  {% for skirt in skirtWardrobe%}
    <img class="img" src= "{{skirt.url}}" />
  {% endfor %}
  <h1>DRESSSES</h1>
  {% for dress in dressWardrobe%}
    <img class="img" src= "{{dress.url}}" />
  {% endfor %}
</body>
</html>
