.img {
    position: relative;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: rgb(34, 34, 34);
}
.btns{
  color: white;
}

#headerz{
  font-size:30px;
  font-weight: 900;
  margin-left: 10px;
  font-family:Futura;
  color:white;
}
#header{
  font-size:30px;
  font-weight: 900;
  margin-left: 10px;
  font-family:Futura;
}
#submit{
  color:black;
}
#zip{
  color:black;
}
#nav{
  font-family:Futura;
  color:white;
  font-size:18px;
}


#head{
  color:red;
  font-size: 70pt;
}

.body{
  background-color: rgb(34, 34, 34);
}

.img2 {
    position: relative;
    float: left;
    width:  40px;
    height: 40px;
    background-position: top;
    background-repeat:   no-repeat;
    background-size:     cover;
    top: 50%;
    margin-top: -10px;
}

.itemContainer{
  border: 1px solid black;
}

#logout {
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  margin-top: 10px;
}

#pic {
  float: right;
  border-right: 10px;
  border-radius: 5px;
}

#condition {
  float: right;
}

/* #twitter {
  height: 8%;
} */

#bottomTemp {
  text-align: center;
  font-size: 200pt;
  font-size: 200pt;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  width: 480px;
  margin: auto;
  font-family: monospace;
  border-radius: 25px;
}

.pictures {
  height: 200px;
  width: 200px;
  margin-right: auto;
}
