.img {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#header{
  font-family: Luminari, fantasy;
  color: gray;
  font-size: 30pt;
  font-weight: 900;
  margin-left: 20px;
}
