body{
  display: grid;
  grid-template-rows: 30px 100px 60px 575px 300px 400px 120px;

}
.topBar{
background-color: rgba(0,0,0,0.8);
width: 100%;
/* height: 10px; */
overflow: hidden;

}

.logo {
  background-color: white;
  width: 100%;
  overflow: hidden;
}

#logoForCompany{
transform: scale(.5);
padding-left: 55%;

}

.underTopBar{
background-color: white;
/* margin-top: 10px; */
padding-top: 0;
display: block;
position: relative;
}

.nav-bar{
  /* top: 0;
  right: 0;
  left: 0; */
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  /* height: 48px; */
  max-height: 44px;
  /* background: #333; */
  /* background: rgba(0,0,0,0.8); */
  font-size: 17px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: normal;
  box-sizing: content-box;
  margin: 0;
  padding-bottom: 6px;
  pointer-events: auto;
  letter-spacing: normal;
  /* ------------ */
  display: inline-block;
  position: relative;
  z-index: 1;
  vertical-align: top;
}
.officialMenu{
  margin: 0;
  padding-top: 0;
  width: 100%;
  height: 250px;
  padding-bottom: 0;
}

h1{
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}
#menu{
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 6px;
}

#menu li{
  list-style: none;
  display: inline-block;
}

#menu li a{
  text-decoration: none;
  position: relative;
  color: #313131;
  font-size: 12px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 10px;
  text-transform: uppercase;
}

#menu li a:before{
  content:'';
  width:60px;
  position: absolute;
  border-bottom: 3px solid;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;

}

#menu li a:hover:before{
  right: 0;
}

#meetTheMakers{
  font-weight: lighter;
}

.imageWithCenterText{
  background-color: green;
  overflow: hidden;
}




.center {
    position: absolute;
    top: 27%;
    left: 34%;
    padding-top: 100px;
    text-align: center;
    color: gray;
    font-size: 60px;
    font-weight: 500;
    font-family: Trebuchet MS, sans-serif;
}

.Click {
    position: absolute;
    top: 43%;
    left: 42%;
    padding-top: 100px;
    text-align: center;
    color: gray;
    font-size: 40px;
    font-weight: normal;
    font-family: Roboto, sans-serif;
}

#clothesHangerDisplay {

    display: inline-block;
    width: 100%;
    height: auto;
    opacity: 1.0;
    overflow: hidden;
}

#whiteBox {
  position: absolute;
  top: 60%;
  left: 42%;
  clip: rect(0px, 1200px, 100px, 0px);
  transform: scale(2.7);
}

.underImage {
  background-color: white;
}


.punchLine {
  padding-top: 50px;
  color: #5a5a5a;
  font-size: 450%;
  font-weight: lighter;
  font-family: Open Sans, sans-serif;
  text-align: center;
  /* padding-top: 50px;
  padding-bottom: 50px; */

}

.weatherAPIDIV{
  background-color: #f5f5f5;
}

.footer{
  background-color: rgba(0,0,0,0.8);
}
