<html>
  <head>
    <link rel="stylesheet" href="Ralph.css"></link>
    <script src="../static/api.js"></script>
    <script src = "../static/main_page.js"></script>
    <title> Weather or Not </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- <div id="logout">
      <p>{{user_nickname}}</p>
      <a href="{{logoutUrl}}">Log Out</a>
    </div>
    <div class='weatherAndMenu'>
      SIDE 2
      <div class='weatherAPI'>
        <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NqApr-uOgijmdext4/videoblocks-number-of-empty-hangers-after-a-major-sell-off-in-the-store-wooden-bright-hangers-for-coat-and-dress-on-the-rack-empty-hangers-close-up-wooden-hanger-on-dark-background_rkdhribug_thumbnail-full01.png" id='weatherDisplay'>
        <div class='center'> Weather </div>
      </div>
    </div> -->

    <div class='officialMenu'>
      <h1>Logo</h1>
      <ul id='menu'>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/suggestion">Suggestions</a></li>
            <li><a href="/wardrobe">Wardrobe</a></li>
            <li><a href="/add_item">Add Items to Wardrobe</a></li>
            <li><a href="#">Laundry</a></li>
        </ul>
      </ul>
    </div>

    <div class="centeredImageofHome">
      <div class='hereIsTheImage'>
        <img src="https://wallpapercave.com/wp/wp1866272.jpg" id='clothesHangerDisplay'>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" id="whiteBox">
        <div class='center'> Wardrobe Season </div>
        <p class='Click'>Click to begin</p>
        <!-- ENTER ZIP CODE -->
      </div>
    </div>

    <div><h1></h1></div>
  </body>
  <!-- menu -->

</html>
