<html>

  <head>
    <meta charset="utf-8">
    <title> Weather or Not </title>
    <link rel="stylesheet" href="ralph-front-page-finale.css">
  </head>

  <body>

    <div id='topBar'>
      <h1> Weather of Not</h1>
    </div>

    <div class='mainDivision'>

      <div class='showcasePhotos'>
        <h2> SIDE 1</h2>
        <div id='image1'>
          <!-- <img src='' id='image1Details'> -->

        </div>
        <div id='image2'>
          <!-- <img src='' id='image1Details'> -->
        </div>
      <!-- 2imgs 0 padding, 0 margin, dotted line, inside is a shade lighter than the shade outside -->
      </div>

      <div class='weatherAndMenu'>
        <!-- SIDE 2 -->
        <div class='weatherAPI'>
          <img src="https://cdn.pixabay.com/photo/2017/02/18/09/09/sky-2076876_960_720.jpg" id='weatherDisplay'>
          <div class='center'> Weather </div>
        </div>
        <div class='menuOptions'>
          <div class='officialMenu'>
            <ul id='menu'>
              <ul>
                <center>
                <li><a href="#">Suggestions</a></li>
                <li><a href="#">Wardrobe</a></li>
                <li><a href="#">Saved</a></li>
                <li><a href="#">Laundry</a></li>
              </center>
              </ul>
            </ul>
          </div>

            <!-- menu with a sliding menu bar animation -->
        </div>
<!-- space for the weather api, and a menu with a sliding menu bar animation, and uplaods from database(classes are in within each div and link) -->
      </div>
    </div>




  </body>
</html>
