<html>
<head>
  <link href="/static/add_clothes.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/add_clothes.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<div class="container">
<div class="col-md-6">
    <div class="form-group">
        <label>Upload Image</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input type="file" name = "imgInp" id="imgInp"><!--THIS ONE IS THE ID OF WHAT WAS INPUTTED-->
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <img id='img-upload' src = "{{image_upload}}"/><!--Where to reupload the pictures-->
    </div>
</div>
</div>
</body>
</html>
