<html>
  <head>
    <script src = "add_clothes.js"></script>
    <link rel="stylesheet" href=add_clothes.css>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div>
      <h1 id = "weather_widget">THIS IS WHERE THE WEATHER WIDGET WILL BE </h1>
    </div>
    <div id = "restofpage">
      <div class = "container">
        <div class="col-md-6">
         <div class="form-group">
           <form>
             <div class="form-group">
               <label for="exampleFormControlFile1">Example file input</label>
               <input type="file" class="form-control-file" id="exampleFormControlFile1">
             </div>
           </form>
         </div>
       </div>
      </div>


  </body>
</html>
