<html>

  <head>
    <meta charset="utf-8">
    <title> Weather or Not </title>
    <link rel="stylesheet" href="front-page.css">
  </head>

  <body>
    <div id="logout">
      <p>{{user_nickname}}</p>
      <a href="{{logoutUrl}}">Log Out</a>
    </div>

    <div class='grid'>


      <div class='weather'> <p> Weather </p> </div>
        <img class='logo' src=''>
      </div>

      <div class='container'>

        <div class='box'>  </div>
        <div class='box'>  </div>
        <div class='box'>  </div>
        <div class='box'>  </div>
        <div class='box'>  </div>

      </div>

      <div class='weather'> <p> Weather </p> </div>


    </div>

  </body>

</html>
