<html>
<head>
  <link rel="stylesheet" href="/static/style.css"></link>
  <title>Weather or Not</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body  background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/rainy-stormy-darkness-wet-weather-background-depressed-sad-background_bzxjr4x7h__F0000.png">
  <p id="header"> Welcome to Weather or Not! </p>
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home!</a></li>
    <li><a href="/wardrobe">See Wardrobe!</a></li>
    <li><a href="/add_item">Add Item to Wardrobe</a></li>
    <li><a href="/suggestion">Check out our Suggestions!</a></li>
  </ul>
</nav>

<div class="container">
  <h3>Navbar Text</h3>
  <p>Use the .navbar-text class to vertical align any elements inside the navbar that are not links (ensures proper padding).</p>
</div>


</body>
</html>
