<html>
  <head>
    <meta charset="utf-8">
    <title> Weather or Not </title>
    <link rel="stylesheet" href="Ralph.css">
  </head>

  <body>

    <div class='weatherAndMenu'>
      <!-- SIDE 2 -->
      <div class='weatherAPI'>
        <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NqApr-uOgijmdext4/videoblocks-number-of-empty-hangers-after-a-major-sell-off-in-the-store-wooden-bright-hangers-for-coat-and-dress-on-the-rack-empty-hangers-close-up-wooden-hanger-on-dark-background_rkdhribug_thumbnail-full01.png" id='weatherDisplay'>
        <div class='center'> Weather </div>
      </div>
    </div>

    <div class='officialMenu'>
      <ul id='menu'>
        <ul>
          <center>
          <li><a href="#">Suggestions</a></li>
          <li><a href="#">Wardrobe</a></li>
          <li><a href="#">Saved</a></li>
          <li><a href="#">Laundry</a></li>
        </center>
        </ul>
      </ul>
    </div>
  </body>

</html>
